@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;900&family=Play&family=Poppins&family=Quintessential&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;900&family=Play&family=Poppins&family=Quintessential&family=Viaoda+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Candal&family=Contrail+One&family=Orbitron:wght@400;900&family=Play&family=Poppins&family=Quintessential&family=Viaoda+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Candal&family=Contrail+One&family=Orbitron:wght@400;900&family=Play&family=Poppins&family=Quintessential&family=Viaoda+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Candal&family=Contrail+One&family=Orbitron:wght@400;900&family=Play&family=Playball&family=Poppins&family=Quintessential&family=Viaoda+Libre&display=swap');
html {
  scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
 background-color:  rgb(243, 243, 243);
 font-family: 'Viaoda Libre', cursive;    
}



#popUpMain{
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1001;

  display: none;
}
#popUp{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 500px;
  height: 300px;
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.8)), url('https://images.unsplash.com/photo-1510070112810-d4e9a46d9e91?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHN0dWR5fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60');
  background-size: cover;
  border-radius: 10px;
  box-shadow: 1px 2px 10px 2px white;
  color: white;
  text-align: center;
}
#popUpHeading{
  margin-top: 80px;
  margin-bottom: 20px;
}
#emailId{
  width: 60%;
  padding: 5px;
  display: block;
  margin: auto;
}
#submitId{
  padding: 0.5rem 0.8rem;
  margin-top: 1rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
#submitId:hover{
background: rgb(219, 219, 219);
}
#cancelId{
  padding: 0.5rem 0.8rem;
  margin-top: 1rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
#cancelId:hover{
background: rgb(219, 219, 219);
}



.column{
  display: flex;
  position: absolute;
  top: 2rem;
  right: 7rem;
  z-index: 0;
}
.stand-column{
  height: 60rem;
  width: 3rem;
  background: brown;
  margin: 0 1rem;
  transform: rotate(15deg);
  /* transform:skew(-23deg,-10deg); */
}


#first-container{
    height: 100vh;
    width:100%;
    background: rgb(243, 243, 243);

}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0, 157, 255);
    width: 100%;
    height: 3.7rem;
    /* border: 2px solid black; */
    box-shadow: 0px 1px 10px 0 rgba(0, 0, 0, 0.3);
    color: white;
    margin-bottom: 2rem;

    position: relative;
    z-index: 2;

}
.navbar ul{
     display: flex;
     width: 50%;
     height: 5rem;
     /* background: chocolate; */
     align-items: center;
     justify-content: space-between;
     font-size: 1.3rem;
}
.navbar ul a{
 text-decoration: none;
}
.navbar ul a li{
  font-family: 'Play', sans-serif;
 list-style: none;
 color: rgb(255, 255, 255);
}
.navbar ul a li:hover{
 transform: scale(110%);
}
#mid-section{

    text-align: center;
    /* color: rgb(0, 195, 255); */
    color: rgb(55, 140, 238);


}
#mid-section span{
font-size: 7.5rem;
margin-top: 1rem;
font-weight: bolder;

}
.rainbow-text {
    background: #CA4246;
    background-color: #CA4246;
    background: conic-gradient(
      #CA4246 16.666%, 
      #E16541 16.666%, 
      #E16541 33.333%, 
      #F18F43 33.333%, 
      #F18F43 50%, 
      #8B9862 50%, 
      #8B9862 66.666%, 
      rgb(4, 115, 206) 66.666%, 
      rgb(4, 115, 206) 83.333%, 
      #A7489B 83.333%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 

  animation: rainbow-text-animation-rev 0.5s ease forwards;

  cursor: pointer;
}

.rainbow-text:hover{
    animation: rainbow-text-animation 0.5s ease forwards;
  }

  @keyframes rainbow-text-animation {
    0% {
      background-size: 57%;
      background-position: 0 0;
    }
    20% {
      background-size: 57%;
      background-position: 0 7em;
    }
    100% {
      background-size: 300%;
      background-position: -10em 3em;
    }
  }
  
  @keyframes rainbow-text-animation-rev {
    0% {
      background-size: 300%;
      background-position: -9em 1em;
    }
    20% {
      background-size: 57%;
      background-position: 0 1em;
    }
    100% {
      background-size: 57%;
      background-position: 0 0;
    }
  }

#mid-section p{
  margin-top: 2rem;
  font-size: 1.5rem;
  padding: 0 14rem;
  color: black;
  position: relative;
  z-index: 2;

}
#mid-section button{
  margin-top: 4rem;
  font-size: 1.5rem;
  padding: 0.3rem 4rem;
  color: black;
  background: transparent;
  outline: none;
  border: 2px solid rgb(55, 140, 238);
  font-family: 'Viaoda Libre', cursive;    

}
#mid-section button:hover{
box-shadow: 0px 0px 18px  rgb(55, 140, 238);
cursor: pointer;
}
#second-container{
  min-height: 30rem;
  width: 95%;
  margin: auto;
  border-radius: 0.5rem;
  /* background-color: rgb(212, 212, 212); */
  background-color: rgb(113, 0, 158);

  padding: 3rem 5rem;
  display: flex;
  justify-content:center;
  flex-wrap: wrap;

  position: relative;
  z-index: 2;
}
#second-container a{
 text-decoration: none;
 color: black;
}

.cards{
  height: 12rem;
  width: 13rem;
  background: rgb(255, 255, 255);
  border-radius: 0.3rem;
  border: 1px solid rgb(0, 0, 0);

  display: flex;
align-items: center;
justify-content: center;
font-size: 1.8rem;

margin: 1rem 1rem;
}



.cards:hover{
/* box-shadow: 4px 6px 20px 0px rgba(0, 0, 0, 0.5); */
box-shadow: 5px 6px 20px 0px rgba(0, 0, 0, 0.938);

font-size: 1.9rem;
}


#bothContainerTwo-Three{
  background: linear-gradient(to bottom, rgb(243, 243, 243) 10%,  rgb(243, 243, 243) 15%, rgb(0, 195, 255) 50%, rgb(0, 195, 255)  50%, rgb(0, 195, 255)  100%);
  /* background: linear-gradient(to bottom, rgb(243, 243, 243) 0rem,  rgb(243, 243, 243) 17.5rem, rgb(0, 195, 255) 17.5rem, rgb(0, 195, 255)  50%, rgb(0, 195, 255)  100%); */

}


#third-container{
  min-height: 10rem;
  width: 100%;
  /* background: chartreuse; */
  padding: 3rem 0rem;

}
#topics-third-container{
text-align: center;
margin-top:2.5rem;
margin-bottom:1rem;
font-size: 1.7rem;
padding: 1rem 0;
cursor: pointer;
user-select: none;


background-color: #001bb3;
color: white;
display: flex;
overflow:hidden;
}

#topics-third-container .text:nth-child(1){
  display: flex;
animation: animate 10s linear infinite ;

}
#topics-third-container .text:nth-child(2){
  display: flex;
animation: animate2 10s linear infinite ;

}
#topics-third-container .text:nth-child(3){
  display: flex;
animation: animate3 10s linear infinite ;

}
#topics-third-container .text span{
margin: 0 4rem;
font-family: 'Contrail One', cursive;

}

@keyframes animate{
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-100%);
  }
}
@keyframes animate2{
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-100%);
  }
}
@keyframes animate3{
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-100%);
  }
}








.vertical-spacer{
  height: 0.4rem;
  width: 100%;
  background: linear-gradient(to right,  rgb(0, 39, 211) 10%,rgb(0, 39, 211) 40%, rgb(113, 0, 158)  55%,   rgb(113, 0, 158) 100%);
margin-bottom:2rem;

}
#vertical-spacer-third-container{
  display: none;
}
#topics-box{
  padding-bottom: 5rem;
  display: none;

}
.box{
  padding: 0 5rem;
}

#topics-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.gird-box{
  text-align: center;
  margin: 1rem 0;
  font-size: 1.6rem;
  color: black;
}
.gird-box span:hover{
cursor: pointer;
color: white;
}



#details{
width: 100%;
min-height: 50rem;
background: rgb(240, 240, 240);
padding: 2rem 0;
}
#newRelease{
padding: 3rem 5rem;
}
.heading{
  display: flex;
}
#newRelease .heading h1{
  display: inline-block;
  font-size: 2.2rem;
  margin-bottom: 2rem;
}
.dash{
  height: 0.4rem;
  width: 56rem;
  background: linear-gradient(to right,  rgb(0, 39, 211) 10%,rgb(0, 39, 211) 40%, rgb(113, 0, 158)  55%,   rgb(113, 0, 158) 100%);

  position: relative;
  top: 1.4rem;
margin-left: 2rem;

}
#newRelease .section-box{
display: flex;
min-height: 20rem;

}
#newRelease .section-box .section{
  width: 50rem;
font-family: Arial, Helvetica, sans-serif;
/* background: brown; */
/* margin:0 1rem; */
}
#newRelease .section-box .section:nth-child(1){
background:url('https://geekgazette.iitr.ac.in/wp-content/uploads/2021/11/WhatsApp-Image-2021-11-24-at-20.18.26.jpeg');
background-size: cover ;
border-radius: 4px;
width: 65rem;
height: 22rem;
}
#newRelease .section-box .section:nth-child(1):hover{
box-shadow: 3px 5px 13px 0 black;
transform: rotate(-3deg);
cursor: pointer;
}





#newRelease .section-box .section:nth-child(2){
margin-left: 1rem;
font-family: 'Poppins', sans-serif;
}
#newRelease .section-box .section:nth-child(2) h4{
font-size: 1.3rem;
margin-bottom: 0.4rem;
}
#newRelease .section-box .section:nth-child(2) p{
margin-bottom: 0.7rem;
}
#newRelease .section-box .section:nth-child(2) a{

text-decoration: none;
color: rgb(0, 39, 211);
}
#newRelease .section-box .section:nth-child(2) a:hover{

text-decoration: underline;

}
#newRelease .section-box .section:nth-child(2) div{
  margin-top: 1.2rem;
font-size: 0.8rem;
color: rgb(131, 131, 131);
}
#more{
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
}
#more .more-cards{
width: 35%;
height: 23.5rem;
/* background-color: rgb(230, 230, 230); */
border-radius: 5px;
cursor: pointer;
}
#more .more-cards:nth-child(1) .imageOfMoreCards{
  background:url('https://geekgazette.iitr.ac.in/wp-content/uploads/2021/11/spintronics2.png');
  background-size: cover ;
  border-radius: 5px;
  height: 12rem;
  width:100% ;
}
#more .more-cards:nth-child(1) .imageOfMoreCards:hover{
  box-shadow: 3px 5px 13px 0 black;
  transform: rotate(-3deg);
  cursor: pointer;
  }
  
#more .more-cards:nth-child(2) .imageOfMoreCards{
  background:url('https://geekgazette.iitr.ac.in/wp-content/uploads/2021/10/magic.png');
  background-size: cover ;
  border-radius: 5px;
  height: 12rem;
  width:100% ;
}
#more .more-cards:nth-child(2) .imageOfMoreCards:hover{
  box-shadow: 3px 5px 13px 0 black;
  transform: rotate(-3deg);
  cursor: pointer;
  }
  
.details{
  padding: 1rem 0rem;
  padding-right: 1rem;
  font-family: 'Poppins', sans-serif;
}
.details h5{
font-size: 1rem;
margin-bottom: 0.5rem ;
}
.details p{
margin-bottom: 0.5rem ;
}
.details a{
  text-decoration: none;
  color: rgb(0, 39, 211);
}
.details div{
  margin-top: 1rem;
font-size: 0.8rem;
color: rgb(131, 131, 131);
}
#more a{
  text-decoration: none;
}
#more .more-cards a:hover{
  text-decoration: underline;
}
#more  .knowMore{
  cursor: pointer;
  height: 25rem;
  width: 7rem;
   background-color: brown;
   display: flex;
   justify-content: center;
   align-items: center;


}
#more  .knowMore:hover{
transform: scale(95%);
}
#more a .knowMore h5{
  font-size: 1.7rem;
  font-family: 'Playball', cursive;
color: white;
transform: rotate(90deg);
letter-spacing: 1rem;

}

#footer{
  width: 100%;
  height: 4rem;
  background-color: rgb(17, 17, 17);
  color: white;
  display: flex;
  font-size: 2rem;
padding: 0 10rem;
align-items: center;
justify-content: center;
}
#footer .follow-footer{
width:15rem;
display: flex;
justify-content: space-between;
}
#footer .follow-footer a{
color: white;
}
#footer a{
text-decoration: none;
}
#footer .logo-footer{
margin-left: 4rem;
color: white;
text-decoration: none;
}
#footer .logo-footer:hover{
color: #E16541;
}
